.table-scroll{
    height: 15em;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
.p-20{
    padding: 20px;
}

.bg-lg{
    background:linear-gradient(to right, white,
    rgba(65, 170, 170, 1) 50%);
}

.border-lg{
    border: 1px solid lightgray;
}

.bx-shdw{
    box-shadow: 0px 5px 5px 0px lightgray;
}

.bg-white{
    background: white;
}

 .btn-primary{
    color :black;
    background: rgb(245, 247, 247) !important;
    border-color: lightseagreen !important;
    border-radius: 5px;
    }

.btn-primary:hover{
    box-shadow: 2px 2px 2px 2px lightgray;
    background: lightseagreen !important;
    border-color: lightseagreen !important;
    }